
.logo {
    font-family:'Press Start 2P', cursive;
    font-size: 40px;
    margin-top: 10px;
    color: white;
    text-shadow: 4px 4px black ;
    margin-left: 20px;


}



.navgation {
  
    text-align: right;
  
    
}




#buttons {
    margin-top: 38px;
    margin-left: 181px;
}

