.box {
    display: inline-block;
    background-color: #bc6c25;
    width: 627px;
    margin-top: 116px;
    box-shadow: 10px 10px black;
    text-align: center;
    padding: 42px 0;
    padding-left: 40px;
    padding-right: 40px;
}

.box .title {
    margin-bottom: 28px;
}