.header {
    display: flex;
    background-color:#283618;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;

    

}

.logo {
    font-family:'Press Start 2P', cursive;
    font-size: 40px;
    margin-top: 10px;
    color: white;
    text-shadow: 4px 4px black ;
    margin-left: 20px;


}



.navgation {
  
    text-align: right;
  
    
}