.section-projetos {
    height: 512px;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 10px solid #606c38;
}

.title-projetos {
    font-family: "press start 2p";
    color: white;
    font-size: 40px;
   

}

.whapper-projetos {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}



.imagem-projetos {
    width: 280px;
    height: 280px;
    margin-top: 40px;
    margin-bottom: 14px;
    border: 2px solid black;
    transition: 100ms linear;
    cursor: pointer;
}

.imagem-projetos:hover {
    transform: scale(1.1);
}



.card-projetos {
    width: 380px;
    height: 380px;
    background-color: #606c38;
    box-shadow: 4px 4px 20px white;
    border: 4px solid black;
    margin-top: 50px;
    
    
   
}

.card-projetos.-blue {
    background-color: blue;
}

.card-projetos.-red {
    background-color: red;
}

.capition-projetos {
    font-size: 14px;
    color: white;
    font-family: "press start 2p";
    padding-bottom: 10px;
    line-height: 20px;
}


