

.section {
    padding: 20px;
}

.skill-tecnologia {
    display: flex;
     color: white;
    font-family: "press start 2p";

}



.skill-tecnologia .icon {
    margin-right: 25px;
}

.right  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
